*.Rhistory
*.Rdata
*~
/paper/weaver_debug_log.txt
*.RData

/weaver_debug_log.txt
/exp_test/#DESeq.Rnw#
/exp_test/_region_.tex
/annot_test/#nice_heat_plot.Rnw#
/basic/weaver_debug_log.txt
/exp_test/#edgeR.Rnw#
/paper/expression_paper_draft.aux
/paper/expression_paper_draft.log
/paper/expression_paper_draft.out
/paper/expression_paper_draft.bbl
/paper/expression_paper_draft.blg
/paper/expression_paper_draft.dvi
/Rplots.pdf
/figures/*
